# Nur Praesentation + Medien gehoeren ins Repo
*.md
!README.md
*.pptx
*.pdf
!hmd/Koch-Schenkl-2026-Partizipative-KI-Einfuehrung-AM.pdf
*.mov
*.docx
*.xlsx
.DS_Store
~$*

# Build-/Hilfsdateien nicht ins Repo
.venv/
__pycache__/
*.py
